---
import { Icon } from "astro-icon/components";

const { skills, label } = Astro.props;
---

<div
  class="border-spacing-1 border-2 my-2 p-4 rounded-md bg-slate-500 border-slate-400 dark:bg-slate-950 dark:border-slate-800"
>
  <h3
    class="text-center lg:text-left font-bold text-xl text-slate-200 dark:text-slate-200"
  >
    {label}
  </h3>

  <div
    class="flex flex-wrap gap-5 items-center text-center justify-center lg:justify-normal lg:items-baseline mt-2"
  >
    {
      skills.map((skill: { name: unknown; icon: any }, index: any) => {
        return (
          <div class="bg-slate-400 dark:bg-slate-800 p-2 flex-grow lg:flex-grow-0 rounded-md items-center text-center text-slate-100 dark:text-slate-200">
            <span class="font-semibold p-4">{skill.name}</span>
            <div class="mx-auto max-w-min p-2 text-slate-100 dark:text-slate-200">
              <Icon name={skill.icon} size={40} />
            </div>
          </div>
        );
      })
    }
  </div>
</div>
